= {{name}}

*Phone*: {{contact.phone}} +
*Email*: {{contact.email}} +
*GitHub*: {{contact.github}} +
*LinkedIn*: {{contact.linkedin}} +
*Website*: {{contact.website}} +
*Address*: {{contact.address}}

== {{summary.title}}

{{summary.description}}

=== Availability

{{availability}}

=== Skills

{{#categories}}
==== {{name}}
{{#skills}}{{name}}, {{/skills}}

{{/categories}}

== Experience

{{#experience}}
{{#positions}}
=== {{title}} ({{start-date}} - {{end-date}}), {{company.name}} ({{company.industry}}), {{company.location.city}}, {{company.location.country}}
{{/positions}}

Position type: {{employment}}

{{#projects}}
    * {{#description}}{{.}} {{/description}}
{{/projects}}

{{#achievements?}}
Achievements
{{/achievements?}}

{{#achievements}}
    * {{description}}
{{/achievements}}

Technologies: {{#skills}}{{name}}, {{/skills}}

{{/experience}}

== Recommendations
{{#recommendations}}
"{{recommendation}}"
{{name}}, {{date}}

{{/recommendations}}

== Learning

=== Education

{{#learning.education}}
{{school-name}} ({{start-date}} - {{end-date}}), {{field-of-study}}

{{/learning.education}}

=== Conferences / trainings

{{#learning.conferences-trainings}}
{{name}} ({{date}})

{{/learning.conferences-trainings}}

=== Other

{{learning.other}}

=== Last updated

{{last-updated}}

