= {{name}}

*Phone*: {{contact.phone}} +
*Email*: {{contact.email}} +
*GitHub*: {{contact.github}} +
*LinkedIn*: {{contact.linkedin}} +
*Website*: {{contact.website}} +
*Address*: {{contact.address}}

== {{summary.title}}

{{summary.description}}

=== Skills

{{#categories}}
==== {{name}}
{{#skills}}{{name}}, {{/skills}}

{{/categories}}

== Experience

{{#experience}}
{{#positions}}
=== {{title}} ({{start-date}} - {{end-date}}), {{company.name}}, {{company.location.city}}, {{company.location.country}}
{{/positions}}
{{#projects}}
* {{description}}
{{/projects}}

{{/experience}}

== Learning

=== Education

{{#learning.education}}
{{school-name}} ({{start-date}} - {{end-date}}), {{field-of-study}}

{{/learning.education}}

=== Conferences / trainings

{{#learning.conferences-trainings}}
{{name}} ({{date}})

{{/learning.conferences-trainings}}

=== Other

{{learning.other}}

