<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:document xmlns:o="urn:schemas-microsoft-com:office:office"
            xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
            xmlns:v="urn:schemas-microsoft-com:vml"
            xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
            xmlns:w10="urn:schemas-microsoft-com:office:word"
            xmlns:wp="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing"
            xmlns:wps="http://schemas.microsoft.com/office/word/2010/wordprocessingShape"
            xmlns:wpg="http://schemas.microsoft.com/office/word/2010/wordprocessingGroup"
            xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
            xmlns:wp14="http://schemas.microsoft.com/office/word/2010/wordprocessingDrawing"
            xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" mc:Ignorable="w14 wp14">
    <w:body>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Title"/>
                <w:spacing w:before="240" w:after="120"/>
                <w:jc w:val="left"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:b/>
                    <w:bCs/>
                    <w:sz w:val="28"/>
                    <w:szCs w:val="28"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:sz w:val="44"/>
                    <w:szCs w:val="44"/>
                </w:rPr>
                <w:t>{{summary.title}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading1"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:sz w:val="28"/>
                    <w:szCs w:val="28"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{name}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t xml:space="preserve">Phone: </w:t>
            </w:r>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b w:val="false"/>
                    <w:bCs w:val="false"/>
                </w:rPr>
                <w:t>{{contact.phone}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b w:val="false"/>
                    <w:b w:val="false"/>
                    <w:bCs w:val="false"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b w:val="false"/>
                    <w:bCs w:val="false"/>
                </w:rPr>
                <w:t>Email: {{contact.email}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t xml:space="preserve">GitHub: </w:t>
            </w:r>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b w:val="false"/>
                    <w:bCs w:val="false"/>
                </w:rPr>
                <w:t>{{contact.github}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>LinkedIn: {{contact.linkedin}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>Website: {{contact.website}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>Address: {{contact.address}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:b/>
                    <w:bCs/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>PROFILE</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{summary.description}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:b/>
                    <w:bCs/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>AVAILABILITY</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{availability}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:b/>
                    <w:bCs/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>SKILLS</w:t>
            </w:r>
        </w:p>
        {{#categories}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:bCs/>
                </w:rPr>
                <w:t>{{name}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t xml:space="preserve">{{#skills}}{{name}}, {{/skills}} </w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        {{/categories}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>EXPERIENCE</w:t>
            </w:r>
        </w:p>
        {{#experience}}
        {{#positions}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:bCs/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
                <w:t>{{title}}</w:t>
            </w:r>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b w:val="false"/>
                    <w:bCs w:val="false"/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
                <w:t xml:space="preserve"> ({{start-date}} – {{end-date}})</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:sz w:val="24"/>
                    <w:szCs w:val="24"/>
                </w:rPr>
                <w:t>{{company.name}} ({{company.industry}}), {{company.location.city}}, {{company.location.country}}
                </w:t>
            </w:r>
        </w:p>
        {{/positions}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>Position type: </w:t>
            </w:r>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:i/>
                    <w:iCs/>
                </w:rPr>
                <w:t>{{employment}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:i/>
                    <w:i/>
                    <w:iCs/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr></w:rPr>
            </w:r>
        </w:p>
        {{#projects}}
        {{#description}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:numPr>
                    <w:ilvl w:val="0"/>
                    <w:numId w:val="1"/>
                </w:numPr>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{.}}</w:t>
            </w:r>
        </w:p>
        {{/description}}
        {{/projects}}
        {{#achievements?}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:numPr>
                    <w:ilvl w:val="0"/>
                    <w:numId w:val="0"/>
                </w:numPr>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr></w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>Achievements</w:t>
            </w:r>
        </w:p>
        {{/achievements?}}
        {{#achievements}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:numPr>
                    <w:ilvl w:val="0"/>
                    <w:numId w:val="1"/>
                </w:numPr>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{description}}</w:t>
            </w:r>
        </w:p>
        {{/achievements}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:numPr>
                    <w:ilvl w:val="0"/>
                    <w:numId w:val="0"/>
                </w:numPr>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr></w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:b/>
                    <w:bCs/>
                </w:rPr>
                <w:t>Technologies</w:t>
            </w:r>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:i/>
                    <w:iCs/>
                </w:rPr>
                <w:t>: {{#skills}}{{name}}, {{/skills}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        {{/experience}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>EDUCATION</w:t>
            </w:r>
        </w:p>
        {{#learning.education}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{school-name}} ({{start-date}} – {{end-date}}), {{field-of-study}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        {{/learning.education}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>TRAININGS / CONFERENCES</w:t>
            </w:r>
        </w:p>
        {{#learning.conferences-trainings}}
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="PreformattedText"/>
                    <w:rPr>
                        <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    </w:rPr>
                    <w:t>{{name}} ({{date}})</w:t>
                </w:r>
            </w:p>
            <w:p>
                <w:pPr>
                    <w:pStyle w:val="PreformattedText"/>
                    <w:rPr>
                        <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    </w:rPr>
                </w:pPr>
                <w:r>
                    <w:rPr>
                        <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    </w:rPr>
                </w:r>
            </w:p>
        {{/learning.conferences-trainings}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="Heading2"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>RECOMMENDATIONS</w:t>
            </w:r>
        </w:p>
        {{#recommendations}}
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:i/>
                    <w:i/>
                    <w:iCs/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                    <w:i/>
                    <w:iCs/>
                </w:rPr>
                <w:t>&quot;{{recommendation}}&quot;</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
                <w:t>{{name}}, {{date}}</w:t>
            </w:r>
        </w:p>
        <w:p>
            <w:pPr>
                <w:pStyle w:val="PreformattedText"/>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:pPr>
            <w:r>
                <w:rPr>
                    <w:rFonts w:ascii="Verdana" w:hAnsi="Verdana"/>
                </w:rPr>
            </w:r>
        </w:p>
        {{/recommendations}}
        <w:sectPr>
            <w:type w:val="nextPage"/>
            <w:pgSz w:w="11906" w:h="16838"/>
            <w:pgMar w:left="1701" w:right="1701" w:header="0" w:top="1134" w:footer="0" w:bottom="1134" w:gutter="0"/>
            <w:pgNumType w:fmt="decimal"/>
            <w:formProt w:val="false"/>
            <w:textDirection w:val="lrTb"/>
            <w:docGrid w:type="default" w:linePitch="240" w:charSpace="4294961151"/>
        </w:sectPr>
    </w:body>
</w:document>