{{summary.title}}
~~~~~~~~~~~~~~~~~~~~~~~~~
{{name}}

Phone: {{contact.phone}}
Email: {{contact.email}}
GitHub: {{contact.github}}
LinkedIn: {{contact.linkedin}}
Website: {{contact.website}}
Address: {{contact.address}}

PROFILE
========================================================================================================================
{{summary.description}}

AVAILABILITY
========================================================================================================================
{{availability}}

SKILLS
========================================================================================================================
{{#categories}}
{{name}}
~~~~~~~~~~~~~~~~~~~~~~~~~
{{#skills}}{{name}}, {{/skills}}

{{/categories}}

EXPERIENCE
========================================================================================================================
{{#experience}}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{{#positions}}
{{title}} ({{start-date}} - {{end-date}}), {{company.name}} ({{company.industry}}), {{company.location.city}}, {{company.location.country}}
{{/positions}}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Position type: {{employment}}

{{#projects}}
    * {{#description}}{{.}} {{/description}}
{{/projects}}

{{#achievements?}}
Achievements
{{/achievements?}}
{{#achievements}}
    * {{description}}
{{/achievements}}

Technologies: {{#skills}}{{name}}, {{/skills}}

{{/experience}}

EDUCATION
========================================================================================================================
{{#learning.education}}
{{school-name}} ({{start-date}} - {{end-date}}), {{field-of-study}}

{{/learning.education}}

RECOMMENDATIONS
========================================================================================================================
{{#recommendations}}
"{{recommendation}}"
{{name}}, {{date}}

{{/recommendations}}

CONFERENCES / TRAININGS
========================================================================================================================
{{#learning.conferences-trainings}}
- {{name}} ({{date}})
{{/learning.conferences-trainings}}

OTHER
========================================================================================================================
{{learning.other}}

