/*=== General settings - v1.1 ===*/

html, body { 
width: 100%;
height: 100%;
}

body {
background: url(bg.gif) repeat-x fixed ;
font-family: "Myriad Pro", "Trebuchet Ms", sans-serif;
line-height: 22px;
color: black;
}

p {margin-bottom: 15px; }
p, ul li {  font-size: 13px; font-family: "Lucida Grande", "Lucida Sans", sans-serif;}
em { font-style: normal;}

/* links settings */
a { color: #34beee; text-decoration: none }
a:hover {text-decoration: underline;}

/*////////// //////// //////// ////// //////*/
/* z- index so the header stay always on top*/
#wrap { position: relative;}
#wrapHeader { z-index: 1; height: 233px !important; }
#wrapContent { z-index: 0;}

/*==== HEADER STYLING =====*/
/* the left:50% and margin-left:-480px helps the header to stay centered all the time*/
div#header{ position: fixed; z-index: 2; background: url(bg.gif) repeat-x fixed ; overflow: hidden; left: 50%; margin-left: -480px; }
/* topBar fonts styling */
div#topBar div#years ul li, 
div#topBar div#years ul li a,
div#topBar div#topBarRight h2 { line-height: 52px; text-decoration: none; font-weight: 500; } 

div#topBar div#years ul li,
div#topBar div#years ul li a { font-size: 28px; }

/* Years Nav - Also check ie.css to see the diferent settings for ie7*/
div#topBar div#years ul li { border-left: 1px solid #3d3d3d; color: #4d4d4d; width: 108px; height: 52px; display: table-cell; text-align: center; }
div#topBar div#years ul li.lastYear { border-right: 1px solid #3d3d3d;}
div#topBar div#years ul li a { color: #FFFFFF; } 
div#topBar div#years ul li a:hover { color: #dedede; } 
div#topBar div#years ul li a.active { color: #34beee; } 

/* Right part of the topBar*/
div#topBar div#topBarRight h2 { font-size: 30px; color: white; letter-spacing: -1px; margin-left: 40px; }
div#topBar div#topBarRight h2 em,
div#topBar div#topBarRight a  { color: #f54cab; font-style: normal; }

/* Email, Phone and Name part settings */
div#information div#info { text-align: right; height: 181px; border-right: 1px solid #dadada; margin-left: 4px;}
div#information div#info h2 { font-size: 42px; line-height: 44px; margin: 40px; color: #555555; }
div#information div#info h2 em { color: #acacac; }
div#information div#name h1 { font-size: 68px; line-height: 56px; font-weight: 600; text-transform: uppercase; margin: 40px 0 0 40px;}
div#information div#name h1 a  { text-decoration: none; color: #555555;}
div#information div#name h1 a em { color: #acacac; }

/*======  CONTENT  =====*/
/* clearing the header since this wrap is below the header*/
#wrapContent { clear: both; }
/* div content holds the jobs and projects */
div#content { border-right: 1px solid #dadada; margin-left: 4px; margin-bottom: 50px; padding-top: 15px; padding-bottom: 40px}

/* styling for each entry on the resume*/
div.resumeEntry { padding-top: 25px; clear: both; }
div.resumeEntry div.when  { text-align: right; margin-left: -5px; margin-right: 15px; }
div.resumeEntry div.grid_3 p { color:#f54cab; font-size: 20px;font-style: italic; font-weight: 100;}
div.resumeEntry div.description em { margin-bottom: 10px; font-size: 14px; }
div.resumeEntry div em { color:#bbbbbb; font-size: 16px; }
div.resumeEntry div h3 { color: #555555; font-size: 24px; font-style: italic; margin-bottom: 2px; }
div.resumeEntry div h5 { color: #34beee; font-size: 16px; }
div.description > * { margin-left: 8px; }


/*=====  SIDEBAR ======*/
/* sidebar Nav settings - ie.css sets some changes to correct minor issue */
div#sidebar ul#sidebarNav { border-top: 1px solid #dadada; position: fixed; width: 1000px; z-index: 1; overflow: hidden; background-color: white; }
div#sidebar ul#sidebarNav { border-bottom: 1px solid #dadada; height: 41px; margin-left: -10px; padding-left: 50px;}
div#sidebar ul#sidebarNav li { display: inline; margin: 0 10px; list-style:disc outside;}
div#sidebar ul#sidebarNav li a { color: #acacac; line-height: 44px; font-size: 18px; text-transform: uppercase; letter-spacing: -1px; text-decoration: none;}
div#sidebar ul#sidebarNav li a:hover { color: #555555;}
div#sidebar ul#sidebarNav li a.active { color: #34beee;}

/* Sidebar Content Settings */
div#sidebarContent {padding: 80px 0 40px 50px; margin: 0; }
div#sidebarContent h4 { font-size: 20px; color: #acacac; font-style: italic; margin-bottom: 20px; }
div#sidebarContent p em { color: #888888;}
div#sidebarContent div.sidebarPanel { padding-bottom: 20px; clear: both;}

/*======  FORMS   ======*/
div.formWrap { position: absolute; }
div.formOverlay { z-index: 9; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #111111;} 
div.formBox { 
	z-index: 10;
	position: fixed;  
	top: 0; 
	background: white; 
	width: 350px; 
	padding: 0 10px 10px 10px; 
	left: 50%;
	margin-left: -175px;
	}
	
div.formBox .formHeader { background-color: #101010; height: 52px; color: white; line-height: 52px;}
div.formBox .formHeader h3 { margin-left: 20px; position: relative;}
div.formBox .formHeader h3 a { color: #f54cab; float: right; position: absolute; top: 0; right: 0; text-decoration: none; border-left: 1px solid #3d3d3d; padding: 0 20px;}
div.formBox .formHeader h3 a:hover { background-color: #3d3d3d; border-left-color: #555555; color: white;}

/*default values */
.formWrap, .formOverlay, .formBox { display: none;}
/* messages */
.notificationError { height: auto; font-size: 12px; color: red; width: 330px; padding: 10px; background: #F8F0F1; text-align: left; }
.notificationOk { height: auto; width: 340px; padding: 20px 5px; background: #e1f4fd; text-align: center; }

/* paddings and margins */
div.formBox p { line-height: 50px; padding-top: 3px; margin-bottom: 0; border-top: 1px solid #dedede; border-bottom: 1px solid #f2f2f2;}
div.formBox p.formText { padding: 12px 0; }

/* label */
label  { width: 70px; padding-left: 10px; padding-right: 10px; line-height: 50px;  margin: 0 5px; float: left; text-align: left; }

/* Input, Textarea */
input, textarea { width: 234px; padding: 7px; float: left; background-color: #eeeeee; border: 0; color: #333333; font-size: 13px; font-family: inherit }
input { margin-top: 9px; }
input:focus, textarea:focus { background-color: #f9f9f9; }

/* submit button*/
div.formBox p.formButton { margin: 0; line-height: 35px; border-top-color: #dadada; padding: 0; }
.button { border: 0; height: 45px; line-height: 35px; background-color: #f6f6f6; margin-top: 3px; width: 100%; float: none; font: inherit; margin: 0; color: #34beee; }
.button:hover { background-color: #34beee; color: white;}

div#recommendations blockquote { margin-bottom: 25px; }
div#recommendations blockquote p { margin-bottom: 5px; font-style: italic; }
div#recommendations blockquote footer { font-size: 12px; }

/* BR */
br.left { clear: left; }

/* Skills */
.skill_set {
	margin: 0;
}

.skill_set ul {
	list-style-type: none;
}

.skill_list {
	float: left;
}

.skill_list ul li {
	border-bottom: 1px solid #dadada
}

.skill_list ul {
	width: 100px;
	margin-right: 10px;
}

.technical_skill {
	margin: 15px 0 30px;
}

.progress_container {
	padding: 1px;
	height: 12px;
	overflow: hidden;
	margin: 0 0 10px 90px;
	width: 180px;
}

.progress_bar {
	height: 22px;
	width: 0px;
	background-color: #acacac;
}
